<footer>
  <div class="colum-footer">
    <h3>Navegacion</h3>
    <ul>
      <li><a href="/">Inicio</a></li>
      <!-- <li><a href="#">Productos</a></li> -->
      <li><a href="/contact">Contacto</a></li>
      <li><a href="/about">Nosotros</a></li>
    </ul>
  </div>
  <div class="colum-footer">
    <h3>Servicios</h3>
    <ul>
      <li><a href="#">Servicio 1</a></li>
      <li><a href="#">Servicio 2</a></li>
      <li><a href="#">Servicio 3</a></li>
    </ul>
  </div>
  <div class="colum-footer">
    <h3>Legal</h3>
    <ul>
      <li><a href="#">Termino y Condiciones</a></li>
      <li><a href="#">Politica y Privacidad</a></li>
      <li><a href="#">Terminos de Uso</a></li>
    </ul>
  </div>
  <div class="copyrigth">
    <p>Copyrigth © Grupo 3 | Sabores de Catamarca</p>
  </div>
</footer>
<!-- <script src="/js/burger.js"></script> -->
<script>
  
  document.addEventListener("DOMContentLoaded", function () {
    let carousel = document.querySelector(".carousel");
    let items = carousel.querySelectorAll(".item");
    let dotsContainer = document.querySelector(".dots");

    setInterval(function () {
      let index = [...items].findIndex((item) =>
        item.classList.contains("active")
      );
      showItem((index + 1) % items.length);
    }, 5000)

    // Insert dots into the DOM
    /*items.forEach((_, index) => {
      let dot = document.createElement("span");
      dot.classList.add("dot");
      if (index === 0) dot.classList.add("active");
      dot.dataset.index = index;
      dotsContainer.appendChild(dot);
    });*/

    let dots = document.querySelectorAll(".dot");

    // Function to show a specific item
    function showItem(index) {
      items.forEach((item, idx) => {
        item.classList.remove("active");
        dots[idx].classList.remove("active");
        if (idx === index) {
          item.classList.add("active");
          dots[idx].classList.add("active");
        }
      });
    }

    // Event listeners for buttons
    document.querySelector(".prev").addEventListener("click", () => {
      let index = [...items].findIndex((item) =>
        item.classList.contains("active")
      );
      showItem((index - 1 + items.length) % items.length);
    });

    document.querySelector(".next").addEventListener("click", () => {
      let index = [...items].findIndex((item) =>
        item.classList.contains("active")
      );
      showItem((index + 1) % items.length);
    });

    // Event listeners for dots
    /*dots.forEach((dot) => {
      dot.addEventListener("click", () => {
        let index = parseInt(dot.dataset.index);
        showItem(index);
      });
    });*/
  });

</script>
</body>

</html>